
[submodule "src/games/csgo"]
	path = src/games/csgo
	url = https://gist.github.com/yonderbread/e0b20062940f6212c86a543996294dab
[submodule "src/buildscripts/yuzu"]
	path = src/buildscripts/yuzu
	url = https://gist.github.com/yonderbread/e1a1511feb2c8e897a202e5390f9b707
[submodule "src/buildscripts/aseprite"]
	path = src/buildscripts/aseprite
	url = https://gist.github.com/yonderbread/b363035fd60fd87857f6d59b4d92c0e3
[submodule "src/buildscripts/zrythm"]
	path = src/buildscripts/zrythm
	url = https://gist.github.com/yonderbread/0292a5adfc035fb743a36b52db62b038
