{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": false,
    "quoteProps": "preserve",
    "jsxSingleQuote": true,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "proseWrap": "always",
    "htmlWhitespaceSensitivity": "css",
    "endOfLine": "lf",
    "embeddedLanguageFormatting": "off",
}
